<footer class="footer">
<%= t "footer.content_html" %>
  <nav>
    <ul>
      <li><%= link_to t("link.about"), about_path %></li>
      <li><%= link_to t("link.contact"), contact_path %></li>
      <li><%= link_to t("link.news"), t("footer.nav.url") %></li>
    </ul>
  </nav>
</footer>
